body {
    background: rgb(204,132,255);
background: linear-gradient(270deg, rgba(204,132,255,1) 7%, rgba(248,4,111,1) 100%);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img{
    border-radius: 20px;
    width: 200px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: row;
    align-items: end;
    flex-wrap: wrap;
}

.button-wrapper {
    height: 300px;
    padding: 50px;
    border: 1px solid grey;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    position: relative;
}
#my-button {
   
  
}

#no-button {
    margin: 0 10px;
    color: white;
    background-color: red;
    height: 40px !important;
    width: auto;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    

    p {
        margin: 0;
        object-fit: contain;
    }
}

#yes-button {
    margin: 0 10px;
    color: white;
    border: none;
    background-color: green;
    cursor: pointer;
    height: 40px;

    p {
        margin: 0;
        object-fit: contain;
    }
}

/* Make responsive for mobile */
@media (max-width: 768px) {
    body {
        padding: 0 20px;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

.message {
    display: none;
}

.banner-gif {
    width: 100%;
    height: auto;
    margin-top: 20px;

   
}

/* Path: /js/script.js */